@font-face {font-family: "Proxima Nova Bold";src: url("../fonts/ProximaNovaBold.otf");}
@font-face {font-family: "Proxima Nova Regular";src: url("../fonts/ProximaNovaRegular.otf");}
@font-face {font-family: "Proxima Nova Light";src: url("../fonts/ProximaNovaLight.otf");}
@font-face {font-family: "Arial";src: url("../fonts/arial.ttf");}
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #2c2c2c;
}
html{overflow-x: hidden;}
body {
    width: 100%;
}
button {cursor: pointer;}
.clearfix {
    clear: both;
}
.icon {display: inline-block;}
.basket-icon {background: transparent url("../images/sprite.png") no-repeat 0 center; background-size: cover;}
.android-icon{background: transparent url("../images/mobile-sprite.png") no-repeat right center; background-size: cover;}
.apple-icon{background: transparent url("../images/mobile-sprite.png") no-repeat left center; background-size: cover;}
.authorization-icon {background: transparent url("../images/sprite.png") no-repeat 5% center; background-size: cover;}
.content-block {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
.header-top, .footer-top {
    width: 100%;
    background-color: #f4b031;
    padding: 10px 0;
    margin-bottom: 1.5%;
}
.header-top .basket-block {float: left;}
.header-top .basket-block .text-1 {text-decoration: underline;font-weight: 600;}
.header-top .basket-block .to-pay, .delimiter {color: rgba(0, 0, 0, 0.2);}
.header-top .authorization-block {float: right;}
.header-top .basket-icon, .header-top .authorization-icon {
    width: 2em;
    padding-top: 2em;
    vertical-align: middle;
}
.header-top .android-icon, .header-top .apple-icon {
    width: 2.5em;
    padding-top: 2.5em;
    vertical-align: middle;
}

.header-top .android-icon {margin-right: 2em;}
.header-top span {
    vertical-align: middle;
}
.header-top .log-in, .header-top .sign-up {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
}
.header-top .log-in {text-decoration: underline dotted;}
header .content-block {text-align: center;position: relative;}
.logo-block {
    float: left;
    text-align: left;
    width: 30%;
    vertical-align: top;
}
.logo-block .logo-icon {
    width: 2.5em;
    padding-top: 3em;
    background: transparent url('../images/logo.png');
    background-size: cover;
    float: left;
}
.logo-block .logo-1, .logo-block .logo-2 {
    display: inline-block;
    width: 83%;
    vertical-align: top;
    float: left;
    text-transform: uppercase;
}
.logo-block .logo-1 .text-1 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.8em;
    color: #0258a0;
}
.logo-block .logo-1 .text-2 {
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 1.8em;
}
.logo-block .logo-2 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 0.8em;
    color: #999999;
}
.contacts-block {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.contacts-block .icon {
    width: 1.8em;
    padding-top: 1.8em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    float: left;
}
.contacts-block .address-block, .contacts-block .email-block {width: 100%;text-align: left;}
.address-block .address-icon {
    background: #f1af40 url('../images/sprite.png') no-repeat 62.3% center;
    background-size: cover;
    vertical-align: middle;
}
.email-block .email-icon {
    background: #f1af40 url('../images/sprite.png') no-repeat 50.8% center;
    background-size: cover;
    vertical-align: middle;
}
.contacts-block .our-address, .contacts-block .our-email {
    display: inline-block;
    width: 90%;
    float: left;
    margin-left: 10px;
}
.contacts-block .our-email a {
    color: #448dca;
    line-height: 1.8em;
    -moz-text-decoration-style: dotted;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}
.phone-block {
    float: right;
    text-align: left;
    width: 22%;
    vertical-align: top;
}
.phone-block .phone-icon {
    display: inline-block;
    width: 2.3em;
    padding-top: 2.3em;
    background: #f1af40 url('../images/sprite.png') no-repeat 56.6% center;
    background-size: cover;
    vertical-align: top;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-left: 5%;
    margin-right: 3%;
}
.phone-block .phone-content {
    display: inline-block;
}
.our-phone-number .text-1, .our-phone-number .text-2 {
    display: inline-block;
    font-size: 1.15em;
    font-family: "Proxima Nova Regular", sans-serif;
}
.our-phone-number .text-1 {color:#0259a2;vertical-align: top;}
.our-phone-number .text-2 {font-size: 1.4em;}
.phone-block>.text-1 {
    font-size: 0.9em;
    color: #999999;
}
.nav-block {
    width: 100%;
    max-width: 980px;
    background: -webkit-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -o-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -moz-linear-gradient(to bottom, #0060b7, #004d8f);
    background: linear-gradient(to bottom, #0060b7, #004d8f);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 1.5% auto 1%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
.nav-control {
    display: none;
    margin: 13px 0 13px 20px;
    width: 3.7em;
    height: 2em;
    background: url('../images/menu.png');
    background-size: cover;
}
nav>ul {
    display: inline-block;
    width: 75%;
    margin-left: 3%;
    float: left;
    text-align: left;
}
nav>ul>li {
    display: inline-block;
    height: 4em;
    padding: 0 0.5em;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
nav>ul>li:hover {
    border-left: 1px solid #004d8f;
    border-right: 1px solid #004d8f;
}
nav>ul>li>a {
    display: inline-block;
    margin-top: 1.5em;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 1px 1px #000;
}
nav>ul>li>a:hover, .nav-block .sub-menu a:hover {
    color: #f1af40;
}
nav .super-menu {position: relative;}
.super-menu:hover .sub-menu {display: block;}
nav .sub-menu {
    display: none;
    width: auto;
    top: 100%;
    position: absolute;
    left: -10px;
    list-style: none;
    background: -webkit-linear-gradient(to top, #0060b7, #004d8f);
    background: -o-linear-gradient(to top, #0060b7, #004d8f);
    background: -moz-linear-gradient(to top, #0060b7, #004d8f);
    background: linear-gradient(to top, #0060b7, #004d8f);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 10px 0;
    z-index: 1;
}
.nav-block .sub-menu a {
    display: inline-block;
    line-height: 1.5em;
    color: white;
    margin: 0 10px;
    text-decoration: none;
    width: auto;
    white-space: nowrap;
}
.nav-block .search-block {
    display: inline-block;
    width: 20%;
    float: right;
    margin: 1em 0;
    text-align: center;
}
.nav-block .search-block input {
    padding: 5px 0 5px 10px;
    border: none;
}
.unchosen {
    background: white url('../images/search-icon.png') no-repeat;
    background-size: contain;
}
.nav-block .search-block input::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.5); font-size: 1.1em;}
.nav-block .search-block input::-moz-placeholder {color: rgba(0, 0, 0, 0.5); font-size: 1.1em;}
.nav-block .search-block input:-moz-placeholder {color: rgba(0, 0, 0, 0.5); font-size: 1.1em;}
.nav-block .search-block input:-ms-input-placeholder {color: rgba(0, 0, 0, 0.5); font-size: 1.1em;}
.nav-block .search-block input:focus::-webkit-input-placeholder {color: transparent}
.nav-block .search-block input:focus::-moz-placeholder {color: transparent}
.nav-block .search-block input:focus:-moz-placeholder {color: transparent}
.nav-block .search-block input:focus:-ms-input-placeholder {color: transparent}
.breadcrumbs li {
    display: inline-block;
}
.breadcrumbs li a {color: #448dca;}
.breadcrumbs li:last-child .delimiter {
    display: none;
}
.product-name {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 2.15em;
    line-height: 1em;
    margin: 1em 0;
}
.is-available {
    font-size: 0.9em;
    color: #61b516;
}
.articul-title {
    font-size: 0.9em;
    color: #808080;
    font-weight: 600;
    margin-left: 30px;
}
.articul-value {
    font-size: 0.9em;
    color: #808080;
}
.product-general {
    position: relative;
    width: 100%;
}
.photo-block, .to-buy-column {
    width: 50%;
    margin-top: 1%;
    float: left;
}
.photo-main {list-style: none;border: 1px solid #aaaaaa;}
.photo-main li{
    width: 100%;
    display: none;
}
.photo-main li img {
    width: 75%;
    margin: 0 12.5%;
}
.big-photo-1 {background: transparent url('../images/product-photo-1.jpg') no-repeat center; background-size: contain;}
.big-photo-2 {background: transparent url('../images/product-photo-2.jpg') no-repeat center; background-size: contain;}
.big-photo-3 {background: transparent url('../images/product-photo-3.jpg') no-repeat center; background-size: contain;}
.big-photo-4 {background: transparent url('../images/product-photo-4.jpg') no-repeat center; background-size: contain;}
.photo-list {
    text-align: left;
    list-style: none;
}
.photo-list li {
    display: inline-block;
    width: 23.5%;
    height: 7em;
    margin: 3% 2% 0 0;
    cursor: pointer;
    border: 1px solid #aaaaaa;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.photo-list li:last-child {
    margin-right: 0;
}
.photo-list li:hover {
    border: 1px solid #f1af40;
}
.photo-list li img {
    width: 90%;
    margin: 0 5%;
}
.to-buy-column {
    width: 48%;
    float: right;
}
.product-parameters {
    width: 100%;
    border-collapse: collapse;
}
.product-parameters caption {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    padding: 0.5em 0;
    text-align: left;
}
.product-parameters td {
    background-color: #eaeaea;
    padding: 3.5% 5%;
}
.product-parameters td:first-child {
    width: 40%;
    font-weight: 600;
}
.product-parameters tr:nth-child(2n) td {
    background-color: white;
}
.to-buy-block {
    width: 48%;
    position: absolute;
    bottom: 2px;
    background: #f1af40;
}
.to-buy-block .left-column {
    float: left;
    width: 45%;
}
.to-buy-block .old-price {
    display: inline-block;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 1.3em;
    margin: 3% 0 1% 0;
    padding-left: 6%;
    background: url('../images/sprite.png') 108% center no-repeat;
    background-size: cover;
}
.to-buy-block .new-price {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.6em;
    margin: 1% 0 1% 6%;
}
.to-buy-block .amount {
    margin: 1% 0 1% 6%;
    color: #8c8c8c;
}
.to-buy-block .discount {
    margin: 1% 0 0 6%;
    color: #8c8c8c;
}
.to-buy-block .right-column {
    float: right;
    width: 45%;
    vertical-align: top;
}
.to-buy-block button {
    width: 85%;
    font-family: "Proxima Nova Bold", sans-serif;
    background: -webkit-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -o-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -moz-linear-gradient(to bottom, #0060b7, #004d8f);
    background: linear-gradient(to bottom, #0060b7, #004d8f);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 5% 0;
    margin: 3.5% 0 1.5% 10%;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.to-buy-block .fast-purchase {
    background: #c1c1c1;
    color: black;
    margin: 1.5% 0 3.5% 10%;
}
.to-buy-block .add-to-basket:hover{
    background: -webkit-linear-gradient(to top, #0060b7, #004d8f);
    background: -o-linear-gradient(to top, #0060b7, #004d8f);
    background: -moz-linear-gradient(to top, #0060b7, #004d8f);
    background: linear-gradient(to top, #0060b7, #004d8f);
}
.to-buy-block .fast-purchase:hover {
    background: #bbbbbb;
}
.about-us {
    width: 100%;
    list-style: none;
    margin: 3% 0;
}
.about-us li {
    display: inline-block;
    width: 25%;
}
.about-us .icon {
    width: 3em;
    padding-top: 3em;
    border: 0.5em solid #f1af40;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #f1af40 url('../images/sprite.png') no-repeat 74% center;
    background-size: cover;
    float: left;
}
.about-us li:nth-child(2) .icon {background: #f1af40 url('../images/sprite.png') no-repeat 79.8% center;background-size: cover;}
.about-us li:nth-child(3) .icon {background: #f1af40 url('../images/sprite.png') no-repeat 85.9% center;background-size: cover;}
.about-us li:nth-child(4) .icon {background: #f1af40 url('../images/sprite.png') no-repeat 62.3% center;background-size: cover;}
.about-us li span {
    display: inline-block;
    width: 70%;
    font-family: "Proxima Nova Bold", sans-serif;
    text-transform: uppercase;
    float: right;
    margin-top: 5%;
}
.sub-title {
    display: inline-block;
    width: 100%;
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 2%;
}
.product-description {
    margin-bottom: 4%;
    width: 90%;
}
.product-description p {
    line-height: 1.4em;
}
.left-column {float: left; width: 65%;}
.right-column {float: right; width: 35%;}
.reviews {
    width: 95%;
    list-style: none;
    margin-bottom: 3%;
}
.reviews li {margin: 1.5% 0;}
.reviews .review-value {
    display: inline-block;
    float: left;
    border: 0.1em solid #f1af40;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 1.2em;
    color: #f1af40;
    font-weight: 600;
    line-height: 2em;
    width: 2em;
    text-align: center;
}
.reviews .review-body {
    float: right;
    width: 90%;
}
.reviews .sub-title {
    font-size: 1em;
    text-transform: inherit;
    font-family: Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}
.reviews p {
    margin: 0.5em 0 0;
    padding-right: 1.5em;
    line-height: 1.4em;
}
.reviews .reviewer {
    list-style: none;
}
.reviews .reviewer li {
    display: inline-block;
    color: #8c8c8c;
    margin-right: 0.3em;
}
.add-review {
    width: 40%;
    color: white;
    background: -o-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -moz-linear-gradient(to bottom, #0060b7, #004d8f);
    background: linear-gradient(to bottom, #0060b7, #004d8f);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-family: "Proxima Nova Bold", sans-serif;
    margin: 1em 0 1em 60px;
    line-height: 2.5em;
    cursor: pointer;
}
.add-review:hover {
    background: -o-linear-gradient(to top, #0060b7, #004d8f);
    background: -moz-linear-gradient(to top, #0060b7, #004d8f);
    background: linear-gradient(to top, #0060b7, #004d8f);
}
.payment-delivery-block {
    border: 3px solid #f1af40;
    width: 90%;
}
.payment-delivery-block .sub-title {
    margin: 1em 0 0.7em 1.5em;
}
.payment-delivery-block ul{margin-left: 2em;}
.payment-delivery-block li {
    display: inline-block;
    margin: 0.5em 1em 1.5em 0;
}
.payment-delivery-block li a {
    display: inline-block;
    width: 2.3em;
    padding-top: 2.3em;
    background: url('../images/sprite.png') no-repeat 9.3% center;
    background-size:cover;
}
.payment-delivery-block li:nth-child(2) a {background: url('../images/sprite.png') no-repeat 15% center;background-size:cover;}
.payment-delivery-block li:nth-child(3) a {background: url('../images/sprite.png') no-repeat 21% center;background-size:cover;}
.payment-delivery-block li:nth-child(4) a {background: url('../images/sprite.png') no-repeat 26.7% center;background-size:cover;}
.payment-delivery-block>a{
    display: inline-block;
    width: 80%;
    margin: 0.5em 0 3em 2.3em;
    color: #448dca;
}
.payment-delivery-block>span, .payment-delivery-block>strong {
    margin-left: 2.3em;
    margin-bottom: 1em;
    line-height: 1.45em;
}
.video-review-block {
    width: 100%;
    margin: 2em 0;
}
.video-review-block iframe {
    width: 100%;
    height: 14em;
}
.offices-block {
    width: 100%;
    background: #eaeaea;
}
.offices-block .sub-title {
    margin: 1.5em 0 0 1.5em;
}
.office-mark {
    display: inline-block;
    width: 85%;
    cursor: pointer;
    margin: 1.5em 0 0 2.5em;
    color: #448dca;
}
.office-mark:last-child {margin-bottom: 2em;}
.offices-block .office-address {
    display: none;
    color: black;
}
.underground-st:hover {text-decoration:underline;text-decoration-style: dotted;}
.active .underground-st {text-decoration:underline;text-decoration-style: dotted;}
.active .underground-st:hover {text-decoration:none;}
.offices-block .office-address a {color: #8c8c8c;text-decoration: none;}
.offices-block .office-address a:hover {color:#5D5D5D;}
.related-products-block {
    width:95%;
    margin: 0 2.5% 5%;
}
.related-products-block ul {
    width: 100%;
    list-style: none;
}
.related-products-block ul li {
    display: inline-block;
    width: 23.5%;
    margin-right: 2%;
    text-align: center;
    vertical-align: top;
}
.related-products-block ul li:last-child {margin-right: 0;}
.related-products-block img {
    max-width: 100%;
    outline: 1px solid #aaaaaa;
    margin-bottom: 2%;
}
.related-product-name, .related-product-cost {
    display: inline-block;
    width: 100%;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}
.related-product-name:hover, .related-product-name:hover .related-product-cost{
    text-decoration: underline;
}
.related-product-cost {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1em;
}
/******************** catalog-1 *********************/
.page-name {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 2.15em;
    margin: 1em 0;
}
.catalog {
    width: 95%;
    list-style: none;
    margin: 0 2.5% 2%;
}
.catalog li {
    display: inline-block;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 2em;
    outline: 1px solid #dadada;
    vertical-align: top;
    text-align: center;
}
.catalog li:nth-child(4n){margin-right: 0;}
.catalog li img {
    width: 100%;
}
.catalog li a {
    display: inline-block;
    margin-top: 2em;
    min-height: 3.5em;
    width: auto;
    color: #448dca;
    text-decoration: none;
}
.catalog li a:hover {text-decoration: underline;}
/**************** end of catalog-1 ******************/

/******************** catalog-2 *********************/
.filters {
    width:20%;
    float: left;
    background: #f6f6f6;
    padding-left: 1.2em;
    padding-bottom: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 2em;
}
.filters .sub-title {
    font-size: 1.15em;
    margin-top: 1em;
}
.filters li {
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #dadada;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 0.3em;
    background: transparent;
    cursor: pointer;
    color:#2c2c2c;
}
.filters li:hover {border: 1px solid #f1af40;}
.filters .active {border: 1px solid #f1af40;background: #f1af40;color: black}
.product-catalog-wrap {
    width: 73%;
    float: right;
    margin-bottom: 120px;
    margin-right: 2%;
    position: relative;
}
.catalog-control {
    position: absolute;
    top: -45px;
    right: 0;
}
.catalog-control-bottom {top: 100%;}
.catalog-control .on-left, .catalog-control .on-right, .catalog-control .on-left-main, .catalog-control .on-right-main {
    display: inline-block;
    border: 3px solid #f1af40;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    padding: 0.5em 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.catalog-control .mark {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/sprite-3.png') 0 center;
    background-size: cover;
    vertical-align: middle;
}
.catalog-control .on-right .mark, .catalog-control .on-right-main .mark  {background: url('../images/sprite-3.png') 100% center;background-size: cover;}
.catalog-control .text-1 {
    display: inline-block;
    font-family: "Proxima Nova Bold", sans-serif;
    text-transform: uppercase;
    color: #f1af40;
    line-height: 20px;
    vertical-align: middle;
}
.catalog-control .on-left:hover, .catalog-control .on-right:hover, .catalog-control .on-left-main:hover, .catalog-control .on-right-main:hover {
    -webkit-box-shadow: 0 0 8px #f1af40;
    -moz-box-shadow: 0 0 8px #f1af40;
    box-shadow: 0 0 8px #f1af40;
}
.catalog-control .on-left, .catalog-control .on-left-main {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 0.5em 0.6em;
    visibility: hidden;
}
.product-catalog {
    width: 100%;
}
.product-card-wrap {
    display: none;
    width: 32%;
    height: 33em;
    position: relative;
    vertical-align: top;
    margin-right: 2%;
    margin-bottom: 3%;
}
.visible {display: inline-block!important;}
.product-catalog .product-card-wrap:nth-child(3n) {margin-right: 0;}
.product-card {
    position: absolute;
    width: 100%;
    min-height: 33em;
    top: 0;
    left: 0;
    outline: 1px solid #dadada;
    background: white;
}
.with-shadow {
    -webkit-box-shadow: 5px 5px 8px lightgray, -5px 0 8px lightgray;
    -moz-box-shadow: 5px 5px 8px lightgray, -5px 0 8px lightgray;
    box-shadow: 5px 5px 8px lightgray, -5px 0 8px lightgray;
}
.product-card .product-name {
    display: inline-block;
    height: 3em;
    margin: 1em 5px 0 15px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #448dca;
    text-decoration: none;
}
.product-card .product-name:hover {text-decoration: underline;}
.product-card .articul-title {margin-left: 15px;}
.product-card img {
    width: 80%;
    margin: 1em 10%;
    outline: 1px solid #dadada;
}
.product-card .parameters {
    list-style: none;
    margin-left: 15px;
    display: none;
}
.product-card .parameters li {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.6em;
}
.product-card .param-name {color: #2c2c2c;font-weight: 600;}
.product-card .param-value {color: #2c2c2c;margin-left: 0.5em;}
.product-card .product-cost {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.7em;
    margin-left: 15px;
}
.product-card button {
    width: 80%;
    color: white;
    background: #bbbbbb;
    background: -o-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -moz-linear-gradient(to bottom, #0060b7, #004d8f);
    background: linear-gradient(to bottom, #0060b7, #004d8f);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-family: "Proxima Nova Bold", sans-serif;
    margin: 1em 0 0 15px;
    line-height: 2.5em;
    cursor: pointer;
}
.product-card .to-buy {background: #c1c1c1;color: black;}
.product-card .to-buy:hover {background: #bbbbbb;}
.product-card button:hover {
    background: -webkit-linear-gradient(to top, #0060b7, #004d8f);
    background: -o-linear-gradient(to top, #0060b7, #004d8f);
    background: -moz-linear-gradient(to top, #0060b7, #004d8f);
    background: linear-gradient(to top, #0060b7, #004d8f);
}
.product-card .add-comment {
    font-size: 0.8em;
    margin-bottom:1em;
    line-height: 3em;
    background: #f1af40;
    color: black;
}
.product-card .add-comment:hover {background: #e0a03e;}
/**************** end of catalog-2 ******************/
/******************** index *********************/
.content-top{width: 100%;}
.content-top .left-column {width: 75%;}
.content-top .right-column {width: 22%;}
.content-top .slider {width: 100%;position: relative;margin-top: 10px;}
.content-top .slider ul {list-style: none;}
.content-top .slide {
    display: none;
    width: 100%;
    height: 33em;
    background: url('../images/slide.jpg');
    background-size: cover;
}
.content-top .slide:first-child {display: block;}
.content-top .slide:nth-child(2){background: url('../images/house.jpg');background-size: cover;}
.content-top .slide:nth-child(3){background: url('../images/office.jpg');background-size: cover;}
.content-top .slide:nth-child(4){background: url('../images/production.jpg');background-size: cover;}
.slider-controls {
    position: absolute;
    bottom: 5em;
    right: 3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slider-controls div {
    display: inline-block;
    font-size: 5em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #f1af40;
    color: white;
    font-family: "Proxima Nova Bold", sans-serif;
    padding: 20px 15px 30px 13px;
    line-height: 0;
    border: 2px solid transparent;
    cursor: pointer;
}
.slider-controls .right {padding: 20px 12px 30px 15px;}
.slider-controls div:hover {
    border: 2px solid #ffba43;
    -webkit-box-shadow: 0 0 5px #ffba43;
    -moz-box-shadow: 0 0 5px #ffba43;
    box-shadow: 0 0 5px #ffba43;
    text-shadow: 0 0 5px #ffffff;
}
.content-top .product-card-wrap {
    display: inline-block;
    width: 96%;
    margin-top: 10px;
    margin-right: 4%;
}
.new-product-icon {
    position: absolute;
    top: 3em;
    right: -0.5em;
    width: 5em;
    height: 5em;
    background: url('../images/sprite-2.png') 100% 0;
    background-size: cover;
    z-index: 10;
}
.sections {
    width: 100%;
    margin: 2em 0;
    list-style: none;
}
.sections li {
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    position: relative;
}
.sections li img {width: 100%;}
.sections li:nth-child(3){margin-right: 0;}
.sections .sub-title {
    position: absolute;
    bottom: 20px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.3em;
    width: auto;
    padding: 5px 20px;
}
.main-catalog {
    /*width: 100%;*/
    /*margin: 1em;*/
}
.main-catalog .left-column {width: 27%;}
.categories li {display: table;width: 100%;margin-bottom: 3%;}
.categories li a {
    display: table-cell;
    width: 100%;
    height: 90px;
    padding-left: 20px;
    border: 1px solid #e4e4e4;
    background: #f3f3f3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
    color: #0063b7;
    text-decoration: none;
    font-weight: 600;
}
.categories li a:hover {
    -webkit-box-shadow: 0 0 5px #f1af40;
    -moz-box-shadow: 0 0 5px #f1af40;
    box-shadow: 0 0 5px #f1af40;
    border-color: #f1af40;
}
.banner {
    display: inline-block;
    width: 100%;
    background: url('../images/banner-1.jpg');
    background-size: cover;
    text-decoration: none;
    margin-top: 6%;
}
.banner>div {
    width: 100%;
    margin-top: 100px;
    background: #f1af40;
    padding: 20px 0;
}
.banner .text-1, .banner .text-2 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: black;
    margin-left: 20px;
}
.banner .text-2 {font-family: "Proxima Nova Regular", sans-serif}
.banner-2 {background: url('../images/banner-2.jpg');background-size: cover;}
.main-catalog .right-column {width: 70%;}
.main-catalog .right-column .product-catalog-wrap {width: 98%;margin-right: 2%;float:none;margin-bottom:30px;}
.main-catalog .catalog-title {
    width: 100%;
    border-top: 2px solid #e4e4e4;
}
.catalog-title .icon {
    width: 35px;
    height: 30px;
    background: url('../images/sprite-2.png') 0 center;
    background-size: cover;
    vertical-align: middle;
    margin: 20px 15px 20px 0;
}
.catalog-title .text-1, .catalog-title .text-2 {
    display: inline-block;
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 30px;
    vertical-align: middle;
}
.catalog-title .text-2 {font-family: "Proxima Nova Regular", sans-serif}
.main-catalog .catalog-control {top:15px;}
.seo-block {width: 100%;margin-bottom: 8%;}
.seo-block p {
    text-align: justify;
    padding-right: 40px;
    margin: 15px 0;
    line-height: 1.5em;
}
.main-catalog .catalog-control-bottom {top: 100%;}
.seo-block ul {margin-left: 15px;line-height: 1.5em;}
.advantages-block {
    width: 95%;
    background: url('../images/advantages.jpg');
    background-size: cover;
    margin-bottom: 3em;
}
.advantages-block .sub-title>div {
    display: inline-block;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 1em;
    margin-left: 8%;
    margin-top: 5%;
}
.advantages-block li {
    display: inline-block;
    width: 85%;
    margin-left: 8%;
    margin-bottom: 3%;
}
.advantage-number {
    display: inline-block;
    color: rgba(44, 44, 44, 0.2);
    border: 2px solid rgba(44, 44, 44, 0.2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 7px 12px;
    margin-right: 10px;
}
.news-block li {
    display: inline-block;
    margin-top: 5%;:
}
.news-title {
    color: #448dca;
}
.news-date {
    color: #818181;
    margin: 5px 0 10px;
}
.news-text {
    line-height: 1.5em;
    display: inline-block;
}
.full-news {
    text-decoration: none;
    color: #448dca;
    margin-left: 10px;
}
.full-news:hover, .news-title:hover {
    color: #345986;
}
.news-block button {
    width: 60%;
    padding: 15px 0;
    color: white;
    background: -webkit-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -o-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -moz-linear-gradient(to bottom, #0060b7, #004d8f);
    background: linear-gradient(to bottom, #0060b7, #004d8f);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    font-family: "Proxima Nova Bold", sans-serif;
    margin: 20px 0;
}
.news-block button:hover {
    background: -webkit-linear-gradient(to top, #0060b7, #004d8f);
    background: -o-linear-gradient(to top, #0060b7, #004d8f);
    background: -moz-linear-gradient(to top, #0060b7, #004d8f);
    background: linear-gradient(to top, #0060b7, #004d8f);
}
/**************** end of index ******************/
/******************** footer *********************/
.footer-top {margin: 0;}
.footer-top .social-block {width:50%;float: left;}
.footer-top .print-block {width:50%;float: right;text-align: right}
.footer-top .social-list {
    display: inline-block;
    list-style: none;
    margin-left: 2em;
}
.footer-top span {line-height: 2em;vertical-align: top;}
.footer-top .social-list li {
    display: inline-block;
    margin-right: 1em;
    vertical-align: top;
}
.footer-top .social-list li .icon {
    width: 2em;
    padding-top: 2em;
}
.footer-top .social-list li .icon:hover, .print-block .print-icon:hover, .payment-delivery-block li a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.vk-icon {background: url('../images/sprite.png') 38.5% center;background-size: cover;}
.fb-icon {background: url('../images/sprite.png') 32.5% center;background-size: cover;}
.tw-icon {background: url('../images/sprite.png') 45% center;background-size: cover;}
.print-block .print-icon {
    width: 2em;
    padding-top: 2em;
    background: url('../images/sprite.png') 69% center;
    background-size: cover;
    cursor: pointer;
    margin-right: 2em;
}
.footer-bottom {width: 100%;background: #eaeaea;}
.footer-bottom a {color:#2c2c2c;text-decoration: none;}
.footer-bottom a:hover {text-decoration: underline;}
.footer-bottom .sub-title{width: auto;font-size: 1em;}
.footer-bottom .catalog-menu {
    display: inline-block;
    width: 30%;
    margin: 3em 0;
    float: left;
}
.footer-bottom .catalog-menu li, .footer-bottom .footer-menu li, .footer-bottom .footer-contacts li {
    display: block;
    width: auto;
    line-height: 1.5em;
}
.footer-bottom .footer-menu {
    display: inline-block;
    width: 17%;
    margin: 3em;
}
.footer-bottom .footer-contacts {
    display: inline-block;
    width: auto;
    float: right;
    margin: 3em 0;
}
.footer-contacts li {margin-bottom: 0.7em;}
.footer-contacts .sub-title {margin:0;}
.footer-contacts .rights {font-size: 0.7em;}
/**************** end of footer ******************/

/********** media queries **********/
@media (max-width: 980px) {
    button, .nav-block {background: #0060b7;}
    button:hover {background: #004d8f;}
    .header-top .basket-block, .header-top .authorization-block, .footer-top .social-block, .footer-top .print-block {
        width: 100%;
        float: none;
        text-align: center;
    }
    .header-top .basket-block {margin-bottom: 2%;}
    .footer-top .social-block  {margin-bottom: 2%;}
    .logo-block {width: 55%; margin: 0 0 70px 2%;}
    .phone-block {width: 40%; margin: 0 2% 70px 0;text-align: right;}
    .contacts-block {width: 90%;position: absolute; bottom: 0;left: 0; right:0;margin-left: 2%;}
    .nav-block {
        cursor: pointer;
        border: 1px solid transparent;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .nav-control {display: block;}
    nav>ul {
        display: none;
        float: none;
        width: 100%;
    }
    nav>ul>li {
        display: block;
        width: 100%;
        height: auto;
    }
    nav>ul>li>a{
        display: block;
        width: 100%;
        border-bottom: 1px solid #004d8f;
    }
    nav>ul>li:hover {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }
    nav>ul>li>a:hover, .nav-block .sub-menu a:hover {
        color: #ffffff;
    }
    nav>ul>li:last-child {margin-bottom: 15px;}
    .nav-block .super-menu{display:block;position: static;}
    .super-menu:hover .sub-menu {display: none;}
    .nav-block .sub-menu {
        position: static;
        background: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 0;
    }
    .nav-block .sub-menu li {display: block;height: auto;}
    .nav-block .sub-menu li a {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 1.5em;
        white-space: normal;
        width: 100%;
        border-bottom: 1px solid #004d8f;
    }
    .nav-block .search-block {
        float: none;
        width: 40%;
        position: absolute;
        top: 13px;
        right: 20px;
        margin: 0;
    }
    .nav-block .search-block input {width: 100%;}
    .content-top .left-column {float: none; width:95%;margin: 0 2.5% 2.5%;}
    .content-top .right-column {float: none;width:95%;margin: 0 2.5%;text-align: center;}
    .content-top .slide {width: 100%; padding-top: 60%;height: auto;}
    .product-card-wrap {height: auto;text-align: left;}
    .main-catalog .product-card-wrap {width: 45%;margin-right: 5%;}
    .main-catalog .product-card-wrap:nth-child(3n) {margin-right: 5%;}
    .main-catalog .product-card-wrap:nth-child(2n) {margin-right: 0;}
    .content-top .product-card-wrap {display: none;width: 250px;text-align: left;}
    .product-card-wrap .product-card {position: static;}
    .product-card .parameters {display: block!important;}
    .sections, .about-us {display: none;}
    .main-catalog {width:95%;margin: 0 2.5%;}
    .main-catalog .left-column, .main-catalog .right-column {width:100%;}
    .catalog-control {right: 20px;}
    .catalog-control-bottom {top: 99.5%;}
    .seo-block p {padding-left: 10px;padding-right: 10px;}
    .categories li, .banner {width: 45%;margin:2.5%;float: left;vertical-align: top;}
    .categories li:nth-child(2n), .banner-2 {float: right;}
    .banner .text-1, .banner .text-2 {font-size: 1em;}
    .left-column {float: none; width:95%;margin: 0 2.5% 2.5%;}
    .right-column {float: none;width:95%;margin: 0 2.5%;}
    .news-block {width: 70%;}
    .advantages-block {display: none;}
    .payment-delivery-block {width: 460px; margin-left: 10px;margin-bottom: 3%;}
    .payment-delivery-block .sub-title {width: 50%;}
    .footer-bottom .catalog-menu, .footer-bottom .footer-menu, .footer-bottom .footer-contacts {
        float: none;
        width: 95%;
        margin: 1% 2.5%;
        text-align: center;
    }
    .catalog {width:95%;margin: 0 2.5%;}
    .catalog li {width: 30%;margin-right: 5%;}
    .catalog li:nth-child(3n){margin-right: 0;}
    .catalog li:nth-child(4n){margin-right: 5%;}
    .breadcrumbs {width: 90%; margin-left: 5%;}
    .page-name {margin-left: 5%; width: 90%;}
    .filters {padding: 0;float: none; width: 95%; margin-left: 2.5%;margin-right: 0;}
    .product-catalog-wrap {float:none;width: 95%; margin: 50px 2.5% 40px;}
    .photo-block {width:95%;margin-left:2.5%;float:none;}
    .photo-list li {height: auto;}
    .to-buy-column {width:95%;margin-left:2.5%;float:none;}
    .to-buy-block {position: static;width: 80%;margin: 5% 10%;}
    .related-products-block {width:95%;margin-left:2.5%;float:none;margin-top:5%;}
    .related-products-block ul li {width: 45%;margin-right:10%;margin-bottom: 3%;}
    .related-products-block ul li:nth-child(2n) {margin-right:0;}
    .product-name {width:95%; margin-left:2.5%;}
    .main {margin-top: 0;}
    .main .catalog-control {top: 10px;}
    .main .catalog-control-bottom {top: 99.5%;}
    .footer-top{margin-top:10px;}
}
@media (max-width: 768px) {
    .product-card-wrap {width: 45%;margin-right: 10%;}
    .product-card-wrap:nth-child(3n){margin-right: 10%!important;}
    .main-catalog .product-card-wrap:nth-child(3n){margin-right: 5%!important;}
    .product-card-wrap:nth-child(2n){margin-right: 0!important;}
    .product-name {font-size: 1.5em;}
}
@media (max-width: 560px) {
    .basket-block span,.header-top span, .contacts-block div {font-size:0.8em;}
    .logo-block, .phone-block, .contacts-block {width: 96%; margin: 2% 2%;float: none;position: static;text-align: left;}
    .slider-controls{bottom: 5px;right: 5px;}
    .slider-controls div {
        font-size: 3em;
        padding: 15px 13px 20px 10px;
    }
    .slider-controls .right {padding: 15px 10px 20px 13px;margin-left:10px;}
    .phone-block .phone-icon {margin-left:0;}
    .news-block {width: 100%;}
    .categories a {font-size: 0.8em;}
    .main-catalog .catalog-title {margin-bottom: 40px;}
    .main-catalog .catalog-control {top: 55px;right: auto; left: 0;}
    .main-catalog .catalog-control-bottom {top: 99.5%!important;}
    .main-catalog .product-card-wrap {width: 70%;margin-left: 15%;margin-bottom:40px;}
    .payment-delivery-block {width: 95%;}
    .catalog li {width: 45%;margin-right: 10%;}
    .catalog li:nth-child(2n){margin-right: 0;}
    .catalog li:nth-child(3){margin-right: 10%;}
    .product-card-wrap {width: 70%;margin-left: 15%;margin-right: 0;margin-bottom:40px;}
    .product-card-wrap:nth-child(3n){margin-left: 15%;margin-right: 0;}
    .product-card-wrap:nth-child(2n){margin-left: 15%;margin-right: 0;}
    .to-buy-block button {font-size:0.8em;}
    .main .catalog-title {margin-bottom: 40px;text-align: center;}
    .main .catalog-control {top: 60px;}
    .main .catalog-control-bottom {top: 99.5%;}
    .add-review {width: 60%;}
}