@font-face {font-family: "Proxima Nova Bold";src: url("../fonts/ProximaNovaBold.otf");}
@font-face {font-family: "Proxima Nova Regular";src: url("../fonts/ProximaNovaRegular.otf");}
@font-face {font-family: "Proxima Nova Light";src: url("../fonts/ProximaNovaLight.otf");}
@font-face {font-family: "Arial";src: url("../fonts/arial.ttf");}
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
body {
    width: 100%;
}
.clearfix {
    clear: both;
}
.icon {display: inline-block;}
.basket-icon {background: transparent url("../images/sprite.png") no-repeat 0 center; background-size: cover;}
.android-icon{background: transparent url("../images/mobile-sprite.png") no-repeat right center; background-size: cover;}
.apple-icon{background: transparent url("../images/mobile-sprite.png") no-repeat left center; background-size: cover;}
.authorization-icon {background: transparent url("../images/sprite.png") no-repeat 5% center; background-size: cover;}
.content-block {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
.header-top, .footer-top {
    width: 100%;
    background-color: #f4b031;
    padding: 10px 0;
    margin-bottom: 1.5%;
}
.header-top .basket-block {float: left;}
.header-top .basket-block .text-1 {text-decoration: underline;font-weight: 600;}
.header-top .basket-block .to-pay, .delimiter {color: rgba(0, 0, 0, 0.2);}
.header-top .authorization-block {float: right;}
.header-top .basket-icon, .header-top .authorization-icon {
    width: 2em;
    padding-top: 2em;
    vertical-align: middle;
}
.header-top .android-icon, .header-top .apple-icon {
    width: 2.5em;
    padding-top: 2.5em;
    vertical-align: middle;
}

.header-top .android-icon {margin-right: 2em;}
.header-top span {
    vertical-align: middle;
}
.header-top .log-in, .header-top .sign-up {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
}
.header-top .log-in {text-decoration: underline dotted;}
header .content-block {text-align: center;}
.logo-block {
    float: left;
    text-align: left;
    width: 30%;
}
.logo-block .logo-icon {
    width: 13%;
    padding-top: 16%;
    background: transparent url('../images/logo.png');
    background-size: cover;
    float: left;
}
.logo-block .logo-1, .logo-block .logo-2 {
    display: inline-block;
    width: 83%;
    vertical-align: top;
    float: right;
    text-transform: uppercase;
}
.logo-block .logo-1 .text-1 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.8em;
    color: #0258a0;
}
.logo-block .logo-1 .text-2 {
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 1.8em;
}
.logo-block .logo-2 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 0.8em;
    color: #999999;
}
.contacts-block {
    display: inline-block;
    width: 40%;
}
.contacts-block .icon {
    width: 1.8em;
    padding-top: 1.8em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    float: left;
}
.contacts-block .address-block, .contacts-block .email-block {width: 100%;text-align: left;}
.address-block .address-icon {
    background: #f1af40 url('../images/sprite.png') no-repeat 62.3% center;
    background-size: cover;
    vertical-align: middle;
}
.email-block .email-icon {
    background: #f1af40 url('../images/sprite.png') no-repeat 50.8% center;
    background-size: cover;
    vertical-align: middle;
}
.contacts-block .our-address, .contacts-block .our-email {
    display: inline-block;
    width: 90%;
    float: right;
}
.contacts-block .our-email a {
    color: #448dca;
    line-height: 1.8em;
    -moz-text-decoration-style: dotted;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}
.phone-block {
    float: right;
    text-align: left;
    width: 22%;
}
.phone-block .phone-icon {
    width: 2.3em;
    padding-top: 2.3em;
    background: #f1af40 url('../images/sprite.png') no-repeat 56.6% center;
    background-size: cover;
    vertical-align: middle;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    float: left;
    margin-left: 5%;
}
.phone-block .our-phone-number {
    float: right;
    width: 70%;
}
.our-phone-number .text-1, .our-phone-number .text-2 {
    display: inline-block;
    font-size: 1.15em;
    font-family: "Proxima Nova Regular", sans-serif;
}
.our-phone-number .text-1 {color:#0259a2;vertical-align: top;}
.our-phone-number .text-2 {font-size: 1.4em;}
.phone-block>.text-1 {
    font-size: 0.9em;
    color: #999999;
    width: 70%;
    float: right;
}
.nav-block {
    background: -webkit-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -o-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -moz-linear-gradient(to bottom, #0060b7, #004d8f);
    background: linear-gradient(to bottom, #0060b7, #004d8f);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 1.5% auto 1%;
}
.nav-block ul {
    display: inline-block;
    width: 75%;
    margin-left: 3%;
    text-align: justify;
    text-align-last: justify;
    float: left;
    margin-top: 25px;
}
.nav-block ul li {
    display: inline-block;
    cursor: pointer;
}
.nav-block ul li:last-child {
    width: 100%;
    height: 0;
    visibility: hidden;
}
.nav-block ul li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 1px 1px #000;
}
.nav-block .search-block {
    display: inline-block;
    width: 20%;
    float: right;
    margin: 20px 0;
    text-align: center;
}
.nav-block .search-block input {
    padding: 5px 0 5px 10px;
    border: none;
}
.unchosen {
    background: white url('../images/search-icon.png') no-repeat;
    background-size: contain;
}
.nav-block .search-block input::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.5); font-size: 1.1em;}
.nav-block .search-block input::-moz-placeholder {color: rgba(0, 0, 0, 0.5); font-size: 1.1em;}
.nav-block .search-block input:-moz-placeholder {color: rgba(0, 0, 0, 0.5); font-size: 1.1em;}
.nav-block .search-block input:-ms-input-placeholder {color: rgba(0, 0, 0, 0.5); font-size: 1.1em;}
.nav-block .search-block input:focus::-webkit-input-placeholder {color: transparent}
.nav-block .search-block input:focus::-moz-placeholder {color: transparent}
.nav-block .search-block input:focus:-moz-placeholder {color: transparent}
.nav-block .search-block input:focus:-ms-input-placeholder {color: transparent}

.breadcrumbs li {
    display: inline-block;
}
.breadcrumbs li a {color: #448dca;}
.breadcrumbs li:last-child .delimiter {
    display: none;
}
.product-name {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 2.15em;
    line-height: 1em;
    margin: 1em 0;
}
.is-available {
    font-size: 0.9em;
    color: #61b516;
}
.articul-title {
    font-size: 0.9em;
    color: #808080;
    font-weight: 600;
    margin-left: 30px;
}
.articul-value {
    font-size: 0.9em;
    color: #808080;
}
.product-general {
    position: relative;
}
.photo-block, .to-buy-column {
    width: 50%;
    margin-top: 1%;
    float: left;
}
.photo-main {list-style: none;outline: 1px solid #aaaaaa;}
.photo-main li{
    width: 100%;
    display: none;
}
.photo-main li img {
    width: 75%;
    margin: 0 12.5%;
}
.big-photo-1 {background: transparent url('../images/product-photo-1.jpg') no-repeat center; background-size: contain;}
.big-photo-2 {background: transparent url('../images/product-photo-2.jpg') no-repeat center; background-size: contain;}
.big-photo-3 {background: transparent url('../images/product-photo-3.jpg') no-repeat center; background-size: contain;}
.big-photo-4 {background: transparent url('../images/product-photo-4.jpg') no-repeat center; background-size: contain;}
.photo-list {
    text-align: left;
    list-style: none;
}
.photo-list li {
    display: inline-block;
    width: 23.5%;
    height: 7em;
    margin: 3% 2% 0 0;
    cursor: pointer;
    outline: 1px solid #aaaaaa;
    overflow: hidden;
}
.photo-list li:last-child {
    margin-right: 0;
}
.photo-list li:hover {
    outline: 1px solid #f1af40;
}
.photo-list li img {
    width: 90%;
    margin: 0 5%;
}
.to-buy-column {
    width: 48%;
    float: right;
}
.product-parameters {
    width: 100%;
    border-collapse: collapse;
}
.product-parameters caption {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    padding: 0.5em 0;
    text-align: left;
}
.product-parameters td {
    background-color: #eaeaea;
    padding: 3.5% 5%;
}
.product-parameters td:first-child {
    width: 40%;
    font-weight: 600;
}
.product-parameters tr:nth-child(2n) td {
    background-color: white;
}
.to-buy-block {
    position: absolute;
    bottom: 2px;
    background: #f1af40;
}
.to-buy-block .left-column {
    float: left;
    width: 50%;
}
.to-buy-block .old-price {
    display: inline-block;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 1.3em;
    margin: 3% 0 1% 0;
    padding-left: 6%;
    background: url('../images/sprite.png') 108% center no-repeat;
    background-size: cover;
}
.to-buy-block .new-price {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.6em;
    margin: 1% 0 1% 6%;
}
.to-buy-block .amount {
    margin: 1% 0 1% 6%;
    color: #8c8c8c;
}
.to-buy-block .discount {
    margin: 1% 0 0 6%;
    color: #8c8c8c;
}
.to-buy-block .right-column {
    float: right;
    width: 50%;
}
.to-buy-block button {
    width: 85%;
    font-family: "Proxima Nova Bold", sans-serif;
    background: -webkit-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -o-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -moz-linear-gradient(to bottom, #0060b7, #004d8f);
    background: linear-gradient(to bottom, #0060b7, #004d8f);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 5% 0;
    margin: 3.5% 0 1.5% 10%;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.to-buy-block .fast-purchase {
    background: #c1c1c1;
    color: black;
    margin: 1.5% 0 3.5% 10%;
}
.to-buy-block .add-to-basket:hover{
    background: -webkit-linear-gradient(to top, #0060b7, #004d8f);
    background: -o-linear-gradient(to top, #0060b7, #004d8f);
    background: -moz-linear-gradient(to top, #0060b7, #004d8f);
    background: linear-gradient(to top, #0060b7, #004d8f);
}
.to-buy-block .fast-purchase:hover {
    background: #bbbbbb;
}
.about-us {
    width: 100%;
    list-style: none;
    margin: 3% 0;
}
.about-us li {
    display: inline-block;
    width: 25%;
}
.about-us .icon {
    width: 3em;
    padding-top: 3em;
    border: 0.5em solid #f1af40;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #f1af40 url('../images/sprite.png') no-repeat 74% center;
    background-size: cover;
    float: left;
}
.about-us li:nth-child(2) .icon {background: #f1af40 url('../images/sprite.png') no-repeat 79.8% center;background-size: cover;}
.about-us li:nth-child(3) .icon {background: #f1af40 url('../images/sprite.png') no-repeat 85.9% center;background-size: cover;}
.about-us li:nth-child(4) .icon {background: #f1af40 url('../images/sprite.png') no-repeat 62.3% center;background-size: cover;}
.about-us li span {
    display: inline-block;
    width: 70%;
    font-family: "Proxima Nova Bold", sans-serif;
    text-transform: uppercase;
    float: right;
    margin-top: 5%;
}
.sub-title {
    display: inline-block;
    width: 100%;
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 2%;
}
.product-description {
    margin-bottom: 4%;
    width: 90%;
}
.product-description p {
    line-height: 1.4em;
}
.left-column {float: left; width: 65%;}
.right-column {float: right; width: 35%;}
.reviews {
    width: 95%;
    list-style: none;
    margin-bottom: 3%;
}
.reviews li {margin: 1.5% 0;}
.reviews .review-value {
    display: inline-block;
    float: left;
    border: 0.1em solid #f1af40;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 1.2em;
    color: #f1af40;
    font-weight: 600;
    line-height: 2em;
    width: 2em;
    text-align: center;
}
.reviews .review-body {
    float: right;
    width: 90%;
}
.reviews .sub-title {
    font-size: 1em;
    text-transform: inherit;
    font-family: Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}
.reviews p {
    margin: 0.5em 0 0;
    padding-right: 1.5em;
    line-height: 1.4em;
}
.reviews .reviewer {
    list-style: none;
}
.reviews .reviewer li {
    display: inline-block;
    color: #8c8c8c;
    margin-right: 0.3em;
}
.payment-delivery-block {
    border: 3px solid #f1af40;
    width: 100%;
}
.payment-delivery-block .sub-title {
    margin: 1em 0 0.7em 1.5em;
}
.payment-delivery-block ul{margin-left: 2em;}
.payment-delivery-block li {
    display: inline-block;
    margin: 0 1em 1em 0;
}
.payment-delivery-block li a {
    display: inline-block;
    width: 2.3em;
    padding-top: 2.3em;
    background: url('../images/sprite.png') no-repeat 9.3% center;
    background-size:cover;
}
.payment-delivery-block li:nth-child(2) a {background: url('../images/sprite.png') no-repeat 15% center;background-size:cover;}
.payment-delivery-block li:nth-child(3) a {background: url('../images/sprite.png') no-repeat 21% center;background-size:cover;}
.payment-delivery-block li:nth-child(4) a {background: url('../images/sprite.png') no-repeat 26.7% center;background-size:cover;}
.payment-delivery-block>a{
    display: inline-block;
    width: 80%;
    margin: 0.5em 0 1.5em 2.3em;
    color: #448dca;
}
.payment-delivery-block>span, .payment-delivery-block>strong {
    margin-left: 2.3em;
    margin-bottom: 1.5em;
}
.video-review-block {
    width: 100%;
    margin: 2em 0;
}
.video-review-block iframe {
    width: 100%;
    height: 14em;
}
.offices-block {
    width: 100%;
    background: #eaeaea;
}
.offices-block .sub-title {
    margin: 1.5em 0 0 1.5em;
}
.office-mark {
    display: inline-block;
    width: 85%;
    cursor: pointer;
    margin: 1.5em 0 0 2.5em;
    color: #448dca;
}
.office-mark:last-child {margin-bottom: 2em;}
.offices-block .office-address {
    display: none;
    color: black;
}
.underground-st:hover {text-decoration:underline;text-decoration-style: dotted;}
.active .underground-st {text-decoration:underline;text-decoration-style: dotted;}
.active .underground-st:hover {text-decoration:none;}
.offices-block .office-address a {color: #8c8c8c;text-decoration: none;}
.offices-block .office-address a:hover {color:#5D5D5D;}
.related-products-block {
    width:100%;
    margin-bottom: 5%;
}
.related-products-block ul {
    width: 100%;
    list-style: none;
}
.related-products-block ul li {
    display: inline-block;
    width: 23.5%;
    margin-right: 2%;
    text-align: center;
    vertical-align: top;
}
.related-products-block ul li:last-child {margin-right: 0;}
.related-products-block img {
    max-width: 100%;
    outline: 1px solid #aaaaaa;
    margin-bottom: 2%;
}
.related-product-name, .related-product-cost {
    display: inline-block;
    width: 100%;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}
.related-product-name:hover, .related-product-name:hover .related-product-cost{
    text-decoration: underline;
}
.related-product-cost {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1em;
}
/******************** catalog-1 *********************/
.page-name {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 2.15em;
    margin: 1em 0;
}
.catalog {
    width: 100%;
    list-style: none;
    margin-bottom: 2%;
}
.catalog li {
    display: inline-block;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 2em;
    outline: 1px solid #dadada;
    vertical-align: top;
    text-align: center;
}
.catalog li:nth-child(4n){margin-right: 0;}
.catalog li img {
    max-width: 100%;
}
.catalog li a {
    display: inline-block;
    margin-top: 2em;
    min-height: 3.5em;
    width: auto;
    color: #448dca;
    text-decoration: none;
}
.catalog li a:hover {text-decoration: underline;}
/**************** end of catalog-1 ******************/

/******************** catalog-2 *********************/
.filters {
    width:20%;
    float: left;
    background: #f6f6f6;
    padding-left: 1.2em;
    padding-bottom: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.filters .sub-title {
    font-size: 1.15em;
    margin-top: 1em;
}
.filters li {
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #dadada;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 0.3em;
    background: transparent;
    cursor: pointer;
    color:#2c2c2c;
}
.filters li:hover {border: 1px solid #f1af40;}
.filters .active {border: 1px solid #f1af40;background: #f1af40;color: black}
.catalog-2 {
    display: table;
    width: 75%;
    float: right;
    margin-bottom: 2%;
    border-collapse: collapse;
}
.catalog-2-row {display: table-row;}
.catalog-2-row>li {
    display: table-cell;
    width: 32%;
    height: 28em;
    position: relative;
    vertical-align: top;
}
.catalog-2 .product-card {
    position: absolute;
    width: 95%;
    top: 0;
    left: 0;
    outline: 1px solid #dadada;
    background: white;
}
.with-shadow {
    -webkit-box-shadow: 5px 5px 8px lightgray, -5px 0 8px lightgray;
    -moz-box-shadow:  5px 5px 8px lightgray, -5px 0 8px lightgray;
    box-shadow:  5px 5px 8px lightgray, -5px 0 8px lightgray;
}
.catalog-2>li:nth-child(2) .product-card {top: 0;left:2.5%;}
.catalog-2>li:nth-child(3) .product-card {top: 0;right:0;}
.catalog-2 .product-name {
    display: inline-block;
    height: 2em;
    margin: 1em 0 0 15px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #448dca;
    text-decoration: none;
}
.catalog-2 .product-name:hover {text-decoration: underline;}
.catalog-2 .articul-title {margin-left: 15px;}
.catalog-2 li img {
    width: 80%;
    margin: 1em 10%;
}
.catalog-2 .parameters {
    list-style: none;
    margin-left: 15px;
    display: none;
}
.catalog-2 .parameters li {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.6em;
}
.catalog-2 .param-name {color: #2c2c2c;font-weight: 600;}
.catalog-2 .param-value {color: #2c2c2c;margin-left: 0.5em;}
.catalog-2 .product-cost {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.7em;
    margin-left: 15px;
}
.catalog-2 button {
    width: 80%;
    color: white;
    background: -webkit-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -o-linear-gradient(to bottom, #0060b7, #004d8f);
    background: -moz-linear-gradient(to bottom, #0060b7, #004d8f);
    background: linear-gradient(to bottom, #0060b7, #004d8f);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-family: "Proxima Nova Bold", sans-serif;
    margin: 1em 0 1em 15px;
    line-height: 2.5em;
    cursor: pointer;
}
.catalog-2 button:hover {
    background: -webkit-linear-gradient(to top, #0060b7, #004d8f);
    background: -o-linear-gradient(to top, #0060b7, #004d8f);
    background: -moz-linear-gradient(to top, #0060b7, #004d8f);
    background: linear-gradient(to top, #0060b7, #004d8f);
}
/**************** end of catalog-2 ******************/
.footer-top {margin: 0;}
.footer-top .social-block {width:50%;float: left;}
.footer-top .print-block {width:50%;float: right;text-align: right}
.footer-top .social-list {
    display: inline-block;
    list-style: none;
    margin-left: 2em;
}
.footer-top span {line-height: 2em;vertical-align: top;}
.footer-top .social-list li {
    display: inline-block;
    margin-right: 1em;
    vertical-align: top;
}
.footer-top .social-list li .icon {
    width: 2em;
    padding-top: 2em;
}
.footer-top .social-list li .icon:hover, .print-block .print-icon:hover, .payment-delivery-block li a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.vk-icon {background: url('../images/sprite.png') 38.5% center;background-size: cover;}
.fb-icon {background: url('../images/sprite.png') 32.5% center;background-size: cover;}
.tw-icon {background: url('../images/sprite.png') 45% center;background-size: cover;}
.print-block .print-icon {
    width: 2em;
    padding-top: 2em;
    background: url('../images/sprite.png') 69% center;
    background-size: cover;
    cursor: pointer;
    margin-right: 2em;
}
.footer-bottom {width: 100%;background: #eaeaea;}
.footer-bottom a {color:#2c2c2c;text-decoration: none;}
.footer-bottom a:hover {text-decoration: underline;}
.footer-bottom .sub-title{width: auto;font-size: 1em;}
.footer-bottom .catalog-menu {
    display: inline-block;
    width: 30%;
    margin: 3em 0;
    float: left;
}
.footer-bottom .catalog-menu li, .footer-bottom .footer-menu li, .footer-bottom .footer-contacts li {
    display: block;
    width: auto;
    line-height: 1.5em;
}
.footer-bottom .footer-menu {
    display: inline-block;
    width: 17%;
    margin: 3em;
}
.footer-bottom .footer-contacts {
    display: inline-block;
    width: auto;
    float: right;
    margin: 3em 0;
}
.footer-contacts li {margin-bottom: 0.7em;}
.footer-contacts .sub-title {margin:0;}
.footer-contacts .rights {font-size: 0.7em;}